{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Highcharts Example</title>

        <style type="text/css">

        </style>
    </head>
    <body>
<!-- 
<script src="../../code/highcharts.js"></script>
<script src="../../code/highcharts-3d.js"></script>
<script src="../../code/modules/exporting.js"></script>
<script src="../../code/modules/export-data.js"></script>
 -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'polls/highcharts.js' %}"></script>
<script src="{% static 'polls/highcharts-3d.js' %}"></script>
<script src="{% static 'polls/exporting.js' %}"></script>
<script src="{% static 'polls/export-data.js' %}"></script>

<div id="container" style="height: 400px"></div>


        <script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Contents of Ahmet\'s top coins portfolio'
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
        name: 'Percentage',
        data: [
            ['Bitcoin: 30%', 30],
            ['Ethereum: 30%', 30],
            ['Ripple: 10%', 10],
            ['Zcash: 25%', 25],
            ['Stellar: 5%', 5],
        ]
    }]
});
        </script>


    <div id="container2" style="min-width: 310px; max-width:600px; height: 400px; margin: 0 auto"></div>



        <script type="text/javascript">

$.getJSON(
    'https://cdn.rawgit.com/highcharts/highcharts/057b672172ccc6c08fe7dbb27fc17ebca3f5b770/samples/data/usdeur.json',
    function (data) {

        Highcharts.chart('container2', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Portfolio value in USD over time'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Portfolio value in USD'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'Portfolio Value in USD',
                data: data
            }]
        });
    }
);
        </script>

        <div id="container3" style="min-width: 310px; max-width:600px; margin: 0 auto">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">What happens when the founder and the hired CEO collide? Epic insight/hindsight <a href="https://twitter.com/johnsculley?ref_src=twsrc%5Etfw">@johnsculley</a> <a href="https://twitter.com/Apple?ref_src=twsrc%5Etfw">@apple</a> <a href="https://t.co/5RhEZ49tgN">https://t.co/5RhEZ49tgN</a></p>&mdash; steve blank (@sgblank) <a href="https://twitter.com/sgblank/status/861472361668722688?ref_src=twsrc%5Etfw">May 8, 2017</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div id="container4" style="min-width: 310px; max-width:600px; height: 400px; margin: 0 auto">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="tr" dir="ltr">Saniyede 20 kere okunan Onedio icerigi <a href="https://t.co/4hr64KdCPQ">https://t.co/4hr64KdCPQ</a></p>&mdash; Seckin Can Sahin (@SeckinCanSahin) <a href="https://twitter.com/SeckinCanSahin/status/862316674762108930?ref_src=twsrc%5Etfw">May 10, 2017</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Hi I think that EOS will 10x over the next month" data-url="https://coinium.app" data-via="SeckinCanSahin" data-hashtags="coiniumapp" data-related="" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



    </body>
</html>
