{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Highcharts Example</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'polls/images/coinium.png' %}">

        <title>Coinium Portfolio Manager</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'polls/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'polls/dashboard.css' %}" rel="stylesheet">
        <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
    </head>
    <body>
<!-- 
<script src="../../code/highcharts.js"></script>
<script src="../../code/highcharts-3d.js"></script>
<script src="../../code/modules/exporting.js"></script>
<script src="../../code/modules/export-data.js"></script>
 -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'polls/highcharts.js' %}"></script>
<script src="{% static 'polls/highcharts-3d.js' %}"></script>
<script src="{% static 'polls/exporting.js' %}"></script>
<script src="{% static 'polls/export-data.js' %}"></script>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img width="32" height="32" src="{% static 'polls/images/coinium.png' %}"/> Coinium</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout/">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              {% for portfolio in all_portfolios %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'polls:portfolio' portfolio.id %}" style="{% if portfolio.id == pk %}color: darkblue; {% endif %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-disc"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="12" r="3"/></svg>
                  {{ portfolio }}
                </a>
              </li>
              {% endfor %}
            </ul>

            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
              </a>
            </h6> -->
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Portfolio: {{ portfolio }}</h1>
            <!-- <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                This week
              </button>
            </div> -->
          </div>

          <!-- <canvas class="my-4 chartjs-render-monitor" id="myChart" width="2280" height="962" style="display: block; height: 481px; width: 1140px;"></canvas> -->
          <div id="container" style="height: 400px"></div>
          <div style="height: 100px;"></div>
          <div id="container2" style="min-width: 310px; max-width:600px; height: 400px; margin: 0 auto"></div>

          <div style="height: 150px;"></div>
          <h2>Tweets by Ahmet</h2>
            <div class="table-responsive">
                <div id="container3" style="min-width: 310px; max-width:600px; margin: 0 auto">
                    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">What happens when the founder and the hired CEO collide? Epic insight/hindsight <a href="https://twitter.com/johnsculley?ref_src=twsrc%5Etfw">@johnsculley</a> <a href="https://twitter.com/Apple?ref_src=twsrc%5Etfw">@apple</a> <a href="https://t.co/5RhEZ49tgN">https://t.co/5RhEZ49tgN</a></p>&mdash; steve blank (@sgblank) <a href="https://twitter.com/sgblank/status/861472361668722688?ref_src=twsrc%5Etfw">May 8, 2017</a></blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div id="container4" style="min-width: 310px; max-width:600px; height: 400px; margin: 0 auto">
                    <blockquote class="twitter-tweet" data-lang="en"><p lang="tr" dir="ltr">Saniyede 20 kere okunan Onedio icerigi <a href="https://t.co/4hr64KdCPQ">https://t.co/4hr64KdCPQ</a></p>&mdash; Seckin Can Sahin (@SeckinCanSahin) <a href="https://twitter.com/SeckinCanSahin/status/862316674762108930?ref_src=twsrc%5Etfw">May 10, 2017</a></blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Hi I think that EOS will 10x over the next month" data-url="https://coinium.app" data-via="SeckinCanSahin" data-hashtags="coiniumapp" data-related="" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </main>
      </div>
    </div>


        <script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Contents of {{portfolio}} portfolio'
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
        name: 'Percentage',
        data: [
            {% if portfolio.btc_pct > 0 %}['Bitcoin: {{portfolio.btc_pct}}%', {{portfolio.btc_pct}}],{% endif %}
            {% if portfolio.eth_pct > 0 %}['Ethereum: {{portfolio.eth_pct}}%', {{portfolio.eth_pct}}],{% endif %}
            {% if portfolio.xrp_pct > 0 %}['Ripple: {{portfolio.xrp_pct}}%', {{portfolio.xrp_pct}}],{% endif %}
            {% if portfolio.xlm_pct > 0 %}['Stellar: {{portfolio.xlm_pct}}%', {{portfolio.xlm_pct}}],{% endif %}
        ]
    }]
});
        </script>


        <script type="text/javascript">

$(document).ready(function(){
setTimeout(function(){ 
$.getJSON(
    'http://localhost:8000/polls/portfolio_perf.json',
    // 'https://cdn.rawgit.com/highcharts/highcharts/057b672172ccc6c08fe7dbb27fc17ebca3f5b770/samples/data/usdeur.json',
    function (data) {
      console.log("here1", data);
      window.a = data;
        Highcharts.chart('container2', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Portfolio value in USD over time'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Portfolio value in USD'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'Portfolio Value in USD',
                data: data
            }]
        });
    }
);
 }, 3000);
});
        </script>

    </body>
</html>
